* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#header {
  width: 100vw;
  height: 6rem;
  position: sticky;
  top: 0;
  display: flex;
  background: rgb(255, 235, 235);
  box-shadow: 0px 20px 50px rgb(70, 0, 10);
  z-index: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#h1 {
  font-family: Charm;
  font-size: 2.4rem;
  margin-left: 20px;
  color: rgb(70, 0, 10);
}
#nav {
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar1 {
  display: flex;
}
#navbar1 li {
  display: inline;
}
#navbar1 li a {
  padding: 5px 10px;
  font-size: 1.2rem;
  font-family: Almendra;
  text-decoration: none;
  color: rgb(70, 0, 10);
}
#navbar2 {
  display: flex;
}
#navbar2 li {
  display: inline;
}
#navbar2 li a {
  font-size: 1.2rem;
  font-family: Almendra;
  text-decoration: none;
  padding: 5px 10px;
  color: rgb(70, 0, 10);
}
#content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#side {
  background-color: rgb(255, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 0;
  width: 10%;
  height: auto;
  padding-top: 9rem;
}
#sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sidenav li {
  list-style: outside none none;
  margin: 20px 0;
  padding: 0;
  width: 14px;
}
#sidenav li a {
  color: rgb(70, 0, 10);
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: block;
}
#main {
  width: 90%;
  height: auto;
  background: rgb(70, 0, 10);
  display: flex;
  justify-content: center;
}
#text {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.p {
  font-family: "Segoe UI";
  font-size: 1.2rem;
  color: rgb(255, 235, 235);
  padding-bottom: 10px;
}
#contact-form {
  width: 100%;
}
.label {
  font-family: "Segoe UI";
  font-size: 1.2rem;
  color: rgb(255, 235, 235);
  padding-left: 8px;
}
input[type="text"] {
  appearance: none;
}
.textbox {
  width: 60%;
  height: 35px;
  font-family: "Segoe UI";
  font-size: 1.2rem;
  background: rgb(255, 235, 235);
  margin-bottom: 10px;
  padding-left: 5px;
}
.textbox:focus {
  background: rgb(255, 220, 220);
}
.button {
  width: 60%;
  height: 35px;
  font-family: "Segoe UI";
  font-size: 1.2rem;
  background: rgb(70, 0, 10);
  color: rgb(255, 235, 235);
  box-sizing: border-box;
  border: 1px solid rgb(255, 235, 235);
  margin-top: 10px;
}
.button:hover {
  background: rgb(255, 235, 235);
  color: rgb(70, 0, 10);
}
.comment {
  width: 60%;
  height: 120px;
  margin-bottom: 10px;
  font-family: "Segoe UI";
  font-size: 1.2rem;
  padding-left: 5px;
  background: rgb(255, 235, 235);
}
.comment:focus {
  background: rgb(255, 220, 220);
}
input[type="radio"] {
  appearance: none;
}
.rd:after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:rgb(255, 235, 235);
  content: "";
  display: inline-block;       
  border: 0.1px solid rgb(70, 0, 10);
}
.rd:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 50%;    
  background-color: rgb(70, 0, 10);
  content: "";
  display: inline-block;      
  border: 0.1px solid rgb(255, 235, 235);
}
.dropdown {
  width: 60%;
  height: 35px;
  margin-bottom: 10px;
  font-family: "Segoe UI";
  font-size: 1.2rem;
  padding-left: 5px;
  background: rgb(255, 235, 235);
}
.dropdown:focus {
  background: rgb(255, 220, 220);
}
@media only screen and (min-width: 320px) and (orientation: portrait) {
  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  #header {
    width: 100vw;
    height: 9rem;
    background: rgb(255, 235, 235);
    box-shadow: 0px 20px 50px rgb(70, 0, 10);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
  }
  #h1 {
    font-family: Charm;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  #nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #navbar1 {
    display: flex;
    flex-direction: row;
  }
  #navbar1 li {
    display: flex;
    justify-content: center;
  }
  #navbar1 li a {
    font-family: Almendra;
    padding: 5px 5px;
    font-size: 1rem;
  }
  #navbar2 {
    display: flex;
    flex-direction: row;
  }
  #navbar2 li {
    display: flex;
    justify-content: center;
  }
  #navbar2 li a {
    font-family: Almendra;
    padding: 5px 5px;
    font-size: 1rem;
  }
  #side {
    background-color: rgb(255, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
    width: 10%;
    height: auto;
    padding-top: 9rem;
  }
  #sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sidenav li {
    list-style: outside none none;
    margin: 20px 0;
    padding: 0;
    width: 14px;
  }
  #sidenav li a {
    color: rgb(70, 0, 10);
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    display: block;
  }
  .p {
    font-family: "Segoe UI";
    font-size: 1rem;
    color: rgb(255, 235, 235);
    padding-bottom: 10px;
  }
  #contact-form {
    width: 100%;
  }
  .label {
    font-family: "Segoe UI";
    font-size: 1rem;
    color: rgb(255, 235, 235);
    padding-left: 8px;
  }
  .textbox {
    width: 96%;
    height: 35px;
    font-family: "Segoe UI";
    font-size: 1rem;
    background: rgb(255, 235, 235);
    margin-bottom: 10px;
    padding-left: 5px;
  }
  .textbox:focus {
    background: rgb(255, 220, 220);
  }
  .button {
    width: 96%;
    height: 35px;
    font-family: "Segoe UI";
    font-size: 1rem;
    background: rgb(70, 0, 10);
    color: rgb(255, 235, 235);
    box-sizing: border-box;
    border: 1px solid rgb(255, 235, 235);
    margin-top: 10px;
  }
  .button:hover {
    background: rgb(255, 235, 235);
    color: rgb(70, 0, 10);
  }
  .comment {
    width: 96%;
    height: 120px;
    margin-bottom: 10px;
    font-family: "Segoe UI";
    font-size: 1rem;
    padding-left: 5px;
    background: rgb(255, 235, 235);
  }
  .comment:focus {
    background: rgb(255, 220, 220);
  }
  input[type="radio"] {
    appearance: none;
  }
  .rd:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:rgb(255, 235, 235);
    content: "";
    display: inline-block;       
    border: 0.1px solid rgb(70, 0, 10);
}
.rd:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;    
    background-color: rgb(70, 0, 10);
    content: "";
    display: inline-block;      
    border: 0.1px solid rgb(255, 235, 235);
}
  .dropdown {
    width: 96%;
    height: 35px;
    margin-bottom: 10px;
    font-family: "Segoe UI";
    font-size: 1rem;
    padding-left: 5px;
    background: rgb(255, 235, 235);
  }
  .dropdown:focus {
    background: rgb(255, 220, 220);
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  #header {
    width: 100vw;
    height: 9rem;
    background: rgb(255, 235, 235);
    box-shadow: 0px 20px 50px rgb(70, 0, 10);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
  }
  #h1 {
    font-family: Charm;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  #nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #navbar1 {
    display: flex;
    flex-direction: row;
  }
  #navbar1 li {
    display: flex;
    justify-content: center;
  }
  #navbar1 li a {
    font-family: Almendra;
    padding: 5px 5px;
    font-size: 1rem;
  }
  #navbar2 {
    display: flex;
    flex-direction: row;
  }
  #navbar2 li {
    display: flex;
    justify-content: center;
  }
  #navbar2 li a {
    font-family: Almendra;
    padding: 5px 5px;
    font-size: 1rem;
  }
  #side {
    background-color: rgb(255, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
    width: 10%;
    height: auto;
    padding-top: 9rem;
  }
  #sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sidenav li {
    list-style: outside none none;
    margin: 20px 0;
    padding: 0;
    width: 14px;
  }
  #sidenav li a {
    color: rgb(70, 0, 10);
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    display: block;
  }
  .p {
    font-family: "Segoe UI";
    font-size: 1rem;
    color: rgb(255, 235, 235);
    padding-bottom: 10px;
  }
  #contact-form {
    width: 100%;
  }
  .label {
    font-family: "Segoe UI";
    font-size: 1rem;
    color: rgb(255, 235, 235);
    padding-left: 8px;
  }
  .textbox {
    width: 96%;
    height: 35px;
    font-family: "Segoe UI";
    font-size: 1rem;
    background: rgb(255, 235, 235);
    margin-bottom: 10px;
    padding-left: 5px;
  }
  .textbox:focus {
    background: rgb(255, 220, 220);
  }
  .button {
    width: 96%;
    height: 35px;
    font-family: "Segoe UI";
    font-size: 1rem;
    background: rgb(70, 0, 10);
    color: rgb(255, 235, 235);
    box-sizing: border-box;
    border: 1px solid rgb(255, 235, 235);
    margin-top: 10px;
  }
  .button:hover {
    background: rgb(255, 235, 235);
    color: rgb(70, 0, 10);
  }
  .comment {
    width: 96%;
    height: 120px;
    margin-bottom: 10px;
    font-family: "Segoe UI";
    font-size: 1rem;
    padding-left: 5px;
    background: rgb(255, 235, 235);
  }
  .comment:focus {
    background-color: rgb(255, 220, 220);
  }
  input[type="radio"] {
    appearance: none;
  }
  .rd:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:rgb(255, 235, 235);
    content: "";
    display: inline-block;       
    border: 0.1px solid rgb(70, 0, 10);
}
.rd:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;    
    background-color: rgb(70, 0, 10);
    content: "";
    display: inline-block;      
    border: 0.1px solid rgb(255, 235, 235);
}
  .dropdown {
    width: 96%;
    height: 35px;
    margin-bottom: 10px;
    font-family: "Segoe UI";
    font-size: 1rem;
    padding-left: 5px;
    background: rgb(255, 235, 235);
  }
  .dropdown:focus {
    background: rgb(255, 220, 220);
  }
}
